*{
    padding: 0;
    margin: 0;
}

main, form, .manage, .main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    padding-bottom: 30px !important;
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header, button{
    margin: 0 10px;
}

h1, h2, h3{
    margin: 20px;
}

header{
    margin-top: 30px;
}

a{
    margin: 5px;
}

label{
    cursor: pointer;
}

input[type="submit"], button{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover, button:hover{
    background-color: #a8a8a8;
}

input[type="text"], input[type="number"], input[type="date"],input[type="password"], select{
    padding: 5px;
}

.disable{
    display: none;
}

.active{
    background-color: #a8a8a8;
}


.active:hover{
    background-color: #f0f0f0;
}

.main{
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

body{
    background: url("../img/stadium.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/*
button{
    margin-top:40px !important;
}