*{
    padding: 0;
    margin: 0;
}

main, form, .manage ,.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header, button{
    margin: 0 10px;
}

button{
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #a8a8a8;
}

h1{
    margin: 20px;
}

table{
    border: 1px solid black;
}

table, td, th{
    border-collapse: collapse;
}

th, td{
    padding: 5px 20px;
    text-align: center;
    border: 1px solid black;
}

.main{
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

body{
    background: url("../img/stadium.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.disable{
    display: none!important;
}

.active{
    background-color: #a8a8a8;
}

.active:hover{
    background-color: #f0f0f0;
}