main, .main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
h2{
    padding-bottom: 30px;
    padding-top: 30px;
}
.button{
    margin-top: 15px;
}
.missed{
    color: red;
}
.green{
    color: lightgreen;
}

#sa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sa input[type=password]{
    margin-bottom: 15px;
}

.main{
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

form a, form input{
    margin: 5px 0;
}

body{
    background: url("../img/stadium.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.active{
    background-color: #a8a8a8;
}


.active:hover{
    background-color: #f0f0f0;
}

input[type="submit"], button{
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover, button:hover{
    background-color: #a8a8a8;
}

.bottom{
    display: flex;
    justify-content: center;
}